@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=IBM+Plex+Serif:wght@200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}
.main-text .logo {
  position: absolute;
  width: 150.58px;
  height: 37.06px;
  left: 194px;
  top: 61.52px;
}
.main-text h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 102%;
  color: #5e239d;
  position: absolute;
  /* width: 375px;
  height: 147px; */
  left: 188px;
  top: 279px;
}
.main-text p {
  position: absolute;
  width: 340px;
  height: 163px;
  left: 188px;
  top: 444px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 123.5%;
  color: #232323;
  opacity: 0.8;
}
.main-text .signin-btn-input,
.footer-child .signin-btn-input {
  position: absolute;
  width: 305px;
  height: 52.24px;
  left: 178px;
  top: 527.44px;
  padding: 0 40px;
  background: #4cde98;
  box-shadow: 0px 4px 4px rgba(89, 89, 74, 0.2);
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 36px;
  color: #ffffff;
}
.signin-btn-input::placeholder {
  color: #ffffff;
}
.signin-btn-input-input:focus,
.signin-btn-input {
  outline: none;
  border: none;
}
.main-text .signin-btn,
.footer-child .signin-btn {
  position: absolute;
  width: 91px;
  height: 28.13px;
  left: 376px;
  top: 539.5px;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  color: #232323;
  border: none;
  background: #ffffff;
  border-radius: 30px;
}
.signin-btn img {
  width: 12.22px;
  height: 11.33px;
  margin: 2px;
  /* background: #232323; */
}
.main-image .img1 {
  position: absolute;
  width: 800.1px;
  height: 854px;
  right: 0;
  top: 0;
}
.main-image .img2 {
  position: absolute;
  width: 121px;
  height: 52px;
  right: 106px;
  top: 50px;
  opacity: 0.8;
}
.main-image .img3 {
  position: absolute;
  width: 512.38px;
  height: 502.67px;
  right: 106px;
  top: 144px;
}
.sec2 {
  position: absolute;
  height: 1530px;
  top: 495px;
  width: 98.8vw;
}
.sec2-img1 {
  height: 1530px;
}
.sec2-img2 {
  top: 125px;
  position: relative;
  left: -200px;
}
.sec2-img3 {
  right: 0px;
  position: absolute;
  top: 400px;
}
.sec2 .text {
  top: 870px;
  left: 255px;
  position: absolute;
}
.sec2 .text hr {
  width: 72px;
  height: 2px;
  background: #4cde98;
}
.sec2 .text h3 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #4cde98;
  margin-left: 25px;
  margin-top: 5px;
}
.sec2 .text h1 {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 102%;
  color: #5e239d;
  margin-bottom: 20px;
}
.sec2 .text p {
  width: 521px;
  height: 163px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 123.5%;
  color: #232323;
  opacity: 0.8;
}
.sec3 img {
  position: absolute;
  width: 90vw;
  height: 500px;
  left: 6px;
  top: 1766px;
}
.sec4 img {
  position: absolute;
  width: 90vw;
  right: 0;
  height: 783.32px;
  top: 2281px;
}
.sec5 img {
  position: absolute;
  width: 90vw;
  height: 834.79px;
  top: 2791px;
}
.sec6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec6 img {
  position: absolute;
  width: 80vw;
  height: 518px;
  margin: auto 0;
  top: 3639px;
}
.footer {
  position: absolute;
  width: 100vw;
  height: 134px;
  top: 4227px;

  background: #4cde98;
}
.footer-child {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 123px;
  background: #5e239d;
}
.footer-child p {
  width: 478px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 123.5%;
  color: #ffffff;
  opacity: 0.8;
}
.footer-child .signin-btn-input {
  position: relative;
  top: 0;
  left: 0;
}
.footer-child .signin-btn {
  right: 300px;
  left: auto;
  top: auto;
}

@media screen and (max-width: 1025px) {
  .main-image .img1 {
    width: 700.1px;
    height: 754px;
  }
  .sec2 img {
    height: 1130px;
  }
  .main-text .logo {
    left: 58px;
  }
  .main-text h1 {
    left: 58px;
    top: 285px;
  }
  .main-text p {
    width: 300px;
    left: 58px;
  }
  .main-text .signin-btn-input {
    left: 58px;
  }
  .main-text .signin-btn {
    left: 246px;
  }
  .sec2 img {
    width: 100vw;
  }
  .sec3 img {
    height: 350px;
    top: 1385px;
  }
  .sec4 img {
    top: 1781px;
    height: 633.32px;
  }
  .sec5 img {
    height: 704.79px;
    top: 2191px;
  }
  .sec6 img {
    height: 458px;
    top: 2889px;
  }
  .footer {
    top: 3327px;
  }
  .footer-child .signin-btn {
    right: 100px;
  }
}
@media screen and (max-width: 769px) {
  .main-image .img1 {
    width: 400.1px;
    height: 454px;
  }
  .main-image .img2 {
    width: 101px;
    height: 52px;
    right: 54px;
    top: 30px;
  }
  .main-image .img3 {
    width: 342.38px;
    height: 322.67px;
    right: 53px;
    top: 80px;
  }
  .main-text .logo {
    width: 128.58px;
    left: 85px;
  }
  .main-text h1 {
    left: 85px;
    top: 155px;
    font-size: 42px;
  }
  .main-text p {
    width: 277px;
    left: 85px;
    top: 290px;
    font-size: 16px;
  }
  .main-text .signin-btn-input,
  .footer-child .signin-btn-input {
    width: 270px;
    height: 40.24px;
    left: 85px;
    top: 365.44px;
  }
  .main-text .signin-btn {
    left: 265px;
    width: 80px;
    height: 22.13px;
    top: 374.5px;
  }
}
